# Local work folders that is not checked in
_*/

.*
!.ci
!.editorconfig
!.git*

# IntelliJ
*.iml
*.ipr
*.iws

# Vim
*.swo
*.swp

# patch
*.orig
*.rej

# Temp files
*.tmp
*.bak

# Dart
# See https://www.dartlang.org/guides/libraries/private-files
# Files and directories created by pub
build/
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/
