# https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions
name: Build

on:
  push:
    branches:
    - '**'
    tags-ignore:
    - '**'
    paths-ignore:
    - '**/*.adoc'
    - '**/*.md'
    - '.github/*.yml'
  workflow_dispatch:
    # https://github.blog/changelog/2020-07-06-github-actions-manual-triggers-with-workflow_dispatch/

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        DART_VERSION: 
          - stable
          - 2.13.0
          - 2.12.4
        OS:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    steps:
    - name: Git Checkout
      uses: actions/checkout@v2 #https://github.com/actions/checkout

    - uses: dart-lang/setup-dart@v1
      with:
        sdk: ${{ matrix.DART_VERSION }}

    - name: Cache Dart Pub
      uses: actions/cache@v2
      with:
        path: ~/.pub-cache
        key: ${{ runner.os }}-dartpub-${{ hashFiles('**/pubspec.yaml') }}
        restore-keys: |
          ${{ runner.os }}-dartpub-

    - name: Build
      shell: bash
      run: |
        # set MAY_CREATE_RELEASE variable used by build.sh
        if [ "${{ matrix.DART_VERSION }}" == "latest" ] && [ "${{ matrix.OS }}" == "ubuntu-latest" ] && [[ $GITHUB_REF == */master ]]; then
           export MAY_CREATE_RELEASE=true
           # configure read-write GIT credentials
           git config credential.helper "store --file=.git/credentials"
           echo "https://${{ secrets.GH_API_TOKEN }}:@github.com" > .git/credentials 2>/dev/null

           export PUBDEV_ACCESS_TOKEN="${{ secrets.PUBDEV_ACCESS_TOKEN }}"
           export PUBDEV_REFRESH_TOKEN="${{ secrets.PUBDEV_REFRESH_TOKEN }}"
           export PUBDEV_ID_TOKEN="${{ secrets.PUBDEV_ID_TOKEN }}"
           export PUBDEV_TOKEN_EXPIRATION="${{ secrets.PUBDEV_TOKEN_EXPIRATION }}"
        else
           export MAY_CREATE_RELEASE=false
        fi

        # https://github.community/t/github-actions-bot-email-address/17204
        git config user.name "github-actions[bot]"
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

        bash .ci/build.sh
